* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
h2,
button {
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: #f4e4e4;
}

.box {
  display: flex;
  justify-content: space-around;
}
.person {
  border: 1px solid #000;
  text-align: center;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}
.person .progress {
  background-color: rgb(107, 106, 106);
  height: 30px;
}
.person .progress span {
  background-color: rgb(120, 223, 36);
  height: 100%;
  width: 100%;
  display: block;
}
.img {
  width: 600px;
  height: 600px;
  display: block;
}

button {
  color: #f6f6f6;
  background-color: #000;
  padding: 15px 20px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
}
